@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Conexión a la base de datos</h1>
    <form method="post">
        <button type="submit">Conexión a la base de datos de Azure</button>
    </form>
    <p>El estado de la conexión es: @ViewBag.estadoConexion</p>
</div>
