@model _08_Ejercicios_Ejercicio3.Models.Entidades.Persona

<form method="post">
    @Html.TextBox("nombre", Model.Nombre)
    @Html.TextBoxFor(persona => persona.Apellidos)
    <input type="number" name="edadPersona" value="Model.Edad" />
</form>
<p>@ViewBag.nombre</p>