@*
    Vista index de razor, donde veremos el día y la hora y nos dirá si hemos sobrepasado o no el mediodía
*@
@{
    string formatDate = "dd/MM/yyyy HH:mm";
    string now = DateTime.Now.ToString(formatDate);
}

<h1>Hola, son las @now</h1>

@{
    string afternoon;
    afternoon = (DateTime.Now.Hour >= 12) ? "Son más de las 12 del mediodía" : "Aún no es ni mediodía";
}

<h3>@afternoon</h3>